<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <% if (currentUser) { %>
            <li><a href="/">HOME</a></li>
            <form action="/auth/logout" method="post">
              <button type="submit">LOGOUT</button>
            </form>

          <% } else { %> 
            <% if (title === "Login") { %>
              <li><a href="/auth/register">REGISTER</a></li>
            <% } else { %>
              <li><a href="/auth/login">LOGIN</a></li>
            <% } %> 
          <% } %>
        </ul>
      </nav>
    </header>
    <main><%- body %></main>
  </body>
</html>
